.wcmp-player{width:100% !important;}
.wcmp-player-container{width:100%;overflow-x:clip;}
.wc-block-components-product-name:has(.wcmp-player-container),
.wp-block-post-title:has(.wcmp-player-container){word-break:normal;}
.wc-block-components-product-name .wcmp-player-container:has(.wcmp-player.track),
.wp-block-post-title .wcmp-player-container:has(.wcmp-player.track){display:inline;}

.wcmp-player.track.mejs-wmp .mejs-controls,
.wcmp-player.track.mejs-wmp .mejs-controls::before{background:transparent !important;}
.wcmp-player.mejs-wmp:not(.track),
.wcmp-player.mejs-ted:not(.track){min-height:65px !important;}
.wcmp-player.mejs-container:not(.wcmp-custom-skin){background: transparent !important;}
.wcmp-player.mejs-container{margin-bottom:0;}
.wcmp-player.track{width:25px !important;height:26px !important;position:relative;float:left;margin-right:5px;overflow:hidden;}
.wcmp-player.track.mejs-ted{width:49px !important;height:28px !important;border-radius:16%;}
.wcmp-player.track.mejs-ted .mejs-controls{height:28px !important; background:transparent !important;}
.wcmp-player.track.mejs-wmp .mejs-playpause-button,
.wcmp-player.track.mejs-ted .mejs-playpause-button{top:0 !important;left:0 !important; margin: 0 !important;}

.wcmp-player.track.mejs-wmp{width:40px !important;height:40px !important;}
.wcmp-player.track.mejs-wmp .mejs-controls{height:40px !important; width:40px !important; background:transparent !important;}

.wcmp-player:not(.track){min-width:200px !important;position:relative;}

.wcmp-player .mejs-currenttime,
.wcmp-player .mejs-duration{white-space:nowrap;}
.wcmp-player .mejs-time-total.mejs-time-slider{overflow-x: clip;}

.wcmp-player-list{width:100%; border:0;overflow:visible;margin-bottom:10px;}
.wcmp-player-list *{word-break:normal !important;}
.wcmp-player-list td{border:0;padding:5px;}
.wcmp-player-list table{width:100%;margin:0;}
.wcmp-player-list table tr,
.wcmp-player-list table td{border:0;}
.wcmp-odd-row td,
.wcmp-even-row td{padding:5px;vertical-align:middle;}
.wcmp-odd-row td{background-color:#FAFAFA; border-top: 1px solid #DADADA; border-bottom: 1px solid #DADADA;}
.wcmp-column-player-title{/* width:100%; */ vertical-align:middle;}
.wcmp-column-player-title:not(td){display:flex;}
.wcmp-column-player-title .wcmp-file-duration {flex-grow: 1;text-align:right;font-size:16px;align-self:center;}
.wcmp-column-player-mejs-classic{width:30px; min-height:30px;}
.wcmp-column-player-mejs-ted{width:54px; min-height:28px;}
.wcmp-column-player-mejs-wmp{width:45px; min-height:40px;}
.wcmp-message{font-style:italic;}
.mejs-controls{/* overflow:hidden !important; */}
.wcmp-player .mejs-controls .mejs-time-rail .mejs-time-float{border:0;}

.wcmp-player .mejs-time-hovered,
.wcmp-player .mejs-time-handle-content{display:none !important;}
.wcmp-player .mejs-controls .mejs-time{height:auto;}
.wcmp-player .mejs-controls .mejs-time-rail .mejs-time-buffering,
.wcmp-player .mejs-controls .mejs-time-rail .mejs-time-current,
.wcmp-player .mejs-controls .mejs-time-rail .mejs-time-hovered,
.wcmp-player .mejs-controls .mejs-time-rail .mejs-time-loaded{width:100%;}

.wcmp-player.mejs-wmp .mejs-time-rail{height:26px; padding-top:0;}
.wcmp-player.mejs-ted .mejs-time-rail{height:26px; padding:5px 0;margin:0;}
.wcmp-player.mejs-wmp .mejs-time{padding:10px 3px 0;}
.wcmp-player.mejs-ted .mejs-time{padding:2px 3px 0;height:17px;}
.wcmp-player.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-total {
    background: #333;
    background: rgba(50,50,50,.8);
    background: -webkit-gradient(linear,0 0,0 100%,from(rgba(30,30,30,.8)),to(rgba(60,60,60,.8)));
    background: -webkit-linear-gradient(top,rgba(30,30,30,.8),rgba(60,60,60,.8));
    background: -moz-linear-gradient(top,rgba(30,30,30,.8),rgba(60,60,60,.8));
    background: -o-linear-gradient(top,rgba(30,30,30,.8),rgba(60,60,60,.8));
    background: -ms-linear-gradient(top,rgba(30,30,30,.8),rgba(60,60,60,.8));
    background: linear-gradient(rgba(30,30,30,.8),rgba(60,60,60,.8));
}

.wcmp-player.mejs-ted .mejs-controls .mejs-time-rail .mejs-time-current{background:rgba(203,0,3,.3) !important;}
.wcmp-player.mejs-ted .mejs-controls .mejs-volume-button .mejs-volume-current{left:0;}

.wcmp-player.track.mejs-classic .mejs-controls{padding:0 !important; height:26px;}
.wcmp-player.track.mejs-classic .mejs-playpause-button button{position: absolute;top: 50%;left: 50%;margin:0;transform: translate(-50%, -50%);}

.wcmp-purchased-times{display:inline-block;margin-left:10px;margin-right:10px;font-size:0.8em;}
.mini_cart_item .wcmp-player{display:none !important;}
.wcmp-classic-layout .wcmp-download-links{padding:0 5px;display:block;border-top: 1px dashed #D0D0D0;margin-top:5px;}
.wcmp-new-layout .wcmp-download-links{padding-left:10px;}

/* Single Player */
.wcmp-single-player{position:relative;}
.wcmp-single-player .wcmp-player-container:not(.wcmp-first-player){display:none;z-index:9999;position:absolute;}
.wcmp-single-player .wcmp-player-title{cursor:pointer;}
.wcmp-single-player .wcmp-player-title.wcmp-playing{font-weight:bold;}
.wcmp-single-player .wcmp-player-title.wcmp-playing::before{content: '\1F782';margin-right:10px;}
.wcmp-single-player.merge_in_grouped_products .wcmp-player-title.wcmp-playing::before{display:none !important;}
/* table.wcmp-single-player.merge_in_grouped_products{margin:0 !important;} */
.wcmp-single-player.merge_in_grouped_products .wcmp-odd-row>td,
.wcmp-single-player.merge_in_grouped_products .wcmp-even-row>td{padding:0;}
.wcmp-single-player.merge_in_grouped_products .wcmp-column-player-title>table{margin:0 !important;}

.wcmp-download-link{font-weight:700;}

/* wcmp-player-visualizer */

.wcmp-player-visualizer {
	width: 100%;
	height: 80px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	position:relative;
}

.wcmp-player-visualizer-bars-container {
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	gap: 4px;
	background: transparent;
	padding: 5px 0;
	box-sizing: border-box;
	overflow: hidden;
	position:absolute;
}

.wcmp-player-visualizer-bar {
	flex: 0 0 4px;
	height: 0;
	background: repeating-linear-gradient(
		to top,
		rgba(255, 255, 255, 0) 0px,
		rgba(255, 255, 255, 0) 1px,
		rgba(0, 115, 170, 1) 2px,
		rgba(0, 115, 170, 1) 3px
	  );
	opacity: 0.85;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
	border-radius: 3px;
	transition: height 0.08s ease-out, opacity 0.08s ease-out;
}

 .wcmp-player-container:has( .mejs-wmp ) .wcmp-player-visualizer{padding-left:20px; padding-right:20px;}
 .wcmp-player-container:has( .mejs-ted ) .wcmp-player-visualizer{padding:10px 10px 5px 10px;background:#eee;height:50px;}
 .wcmp-player-container:has( .mejs-ted ) .wcmp-player-visualizer-bar{
	background: linear-gradient(to top, #606368, #a1a4a8);
	background: repeating-linear-gradient(
		to top,
		rgba(255, 255, 255, 0) 0px,
		rgba(255, 255, 255, 0) 1px,
		rgba(0, 0, 0, 0.5) 2px,
		rgba(0, 0, 0, 0.5) 3px
	  );
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
	opacity: 0.5 !important;
}