.wcmp-widget-playlist{list-style: none; margin:0 !important; padding:0 !important;}
.wcmp-widget-playlist ul{margin: 0; padding: 0;}
.wcmp-widget-playlist *{word-break:normal !important;}
.wcmp-widget-playlist-item .wcmp-file-duration{display:none;}
.controls-track .wcmp-widget-playlist-item{display: flex !important; align-items:center; line-height:normal;padding: 5px !important;clear:both;border-bottom:1px dotted #CACACA;}
.controls-track .wcmp-widget-playlist-item:last-of-type{border-bottom:0;}
.wcmp-classic-layout a {text-decoration:none;box-shadow:none;}
.wcmp-classic-layout .wcmp-widget-playlist-item{padding-top:5px;padding-bottom:5px;}
.wcmp-classic-layout.controls-track .wcmp-widget-playlist-item .wcmp-file-duration{flex-grow:1;text-align:right;font-weight:300;font-size:16px;display:block;}
.wcmp-widget-playlist-item .mejs-controls{top: 0;}
.wcmp-odd-product{background-color:#FAFAFA; border-top: 1px solid #DADADA; border-bottom: 1px solid #DADADA;}
.wcmp-current-product{background-color:#FFFFD7;}

/* New playlist layout */
.wcmp-widget-product{padding:10px;margin:0 !important;}
.wcmp-widget-product :not([class*=mejs-]){font-family: Arial, Helvetica, sans-serif;word-break:normal !important;color:#111;}
.wcmp-widget-product.wcmp-odd-product{background-color:rgba(250, 250, 250, 0.9); border: 0 !important;}
.wcmp-widget-product.wcmp-even-product{background-color: rgba(255,255,255,0.8);}
.wcmp-widget-product:hover,
.wcmp-widget-product.wcmp-current-product{background-color:#FFEDD8;}
.wcmp-widget-product-header{display:flex; flex-wrap:wrap; border-bottom:1px solid #DADADA; margin-bottom:15px;}
.wcmp-widget-product:hover .wcmp-widget-product-header,
.wcmp-widget-product:hover .wcmp-widget-product-file,
.wcmp-widget-product.wcmp-current-product .wcmp-widget-product-header{border-color:white;}
.wcmp-widget-product-title a{text-decoration: none !important; font-size: 1.3em;}
.wcmp-widget-product-purchase{margin-left: auto;}
.wcmp-widget-product-purchase a{background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
display:inline-block; width:24px; height:24px;
}
.wcmp-widget-product .wcmp-widget-product-file{display:flex;align-items:center;margin-bottom:5px;border-bottom:1px dotted #CACACA;}
.wcmp-widget-product .wcmp-file-duration{flex-grow:1;text-align:right;font-weight:300;font-size:16px;}
.wcmp-widget-product .wcmp-widget-product-file:last-child{border-bottom:0;}
.wcmp-widget-product.controls-all .wcmp-widget-product-file{display:block;border-bottom:0;}
.wcmp-widget-product.controls-all .wcmp-file-duration{display:none;}

.wcmp-widget-product-files{display: table;width:100%;}
.wcmp-widget-feature-image{display:table-cell;max-width:80px;margin-right:10px;}
.wcmp-widget-playlist .wcmp-widget-feature-image{margin-top:5px; margin-bottom: 5px;}
.wcmp-widget-product-files-list{display:table-cell;width:100%; vertical-align: top;}